:root {
  --cloud: #f4f4fd;
  --navy-blue: #2e2f42;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles */
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.burger-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.logo-span {
  color: #2e2f42;
}

/* Navigation styles */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.current {
  color: #404bbf;
}

.nav-list-item.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-list-item:focus {
  color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .nav-list-item:hover {
    color: #404bbf;
  }
}

/* Address styles */
.header-address {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: flex;
    align-items: center;
    font-style: normal;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:focus {
  color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .address-list-item:hover {
    color: #404bbf;
  }
}

/* Hero section styles */
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office@2x.jpg");
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

/* Button styles */
.btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .btn:hover {
    background-color: #404bbf;
  }
}

/* Section 2 - Features */
.section-features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-list-item {
  width: 100%;
}

.features-icon-container {
  display: none;
}

.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }

  .features-list-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: #8e8f99 1px solid;
  }

  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list-text {
    font-weight: 400;
  }
}

.features-icon {
  fill: #2e2f42;
}

/* Section 3 - Team */
.section-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-list-item-content {
  padding: 32px 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .social-link:hover {
    background-color: #404bbf;
  }
}

/* Section 4 - Portfolio */
.section-portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
  }
}

.portfolio-list-item-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Modal styles */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

@media screen and (min-width: 1158px) {
  .modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
  }
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1158px) {
  .modal-close-btn:hover .modal-close-icon {
    fill: #ffffff;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .modal-submit-btn:hover {
    background-color: #404bbf;
  }
}

/* Footer styles */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    padding-left: 15px;
    gap: 0;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-info {
    align-items: flex-start;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-social-media {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-media {
    margin-right: 80px;
  }
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-social-title {
    text-align: left;
  }
}

.footer-social-list {
  gap: 16px;
}

.footer-social-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 1158px) {
  .footer-social-link:hover {
    background-color: #31d0aa;
  }
}

/* Footer subscribe form */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-title {
    text-align: left;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    align-items: flex-start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 1158px) {
  .footer-subscribe-btn:hover {
    background-color: #404bbf;
  }
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
